nav {
  background-color: red;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 0px 200px 0px 200px;
  padding: 0px;
  border: 0px;
}

.jumbotron .container {
  position: relative;
  top:200px;
}

.jumbotron h1 {
  color: #333;
  font-size: 64px;  
  font-family: 'Calibri Light', sans-serif;
  font-weight: bold;
  margin-bottom: 0px;
  padding: 0px;
  vertical-align: bottom;
}

.minitron {
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 0px 200px 0px 200px;
}

.minitron .container {
  position: relative;
  top: 0px;
  vertical-align: text-top;
  padding-top: 0px;
}

.minitron h2 {
  color: #000;
  font-size: 32px;  
  font-family: 'Calibri Light', sans-serif;
  font-weight: normal;
  vertical-align: top;
}

.iconbox {
  background-color: #fff;
  margin: 0px 150px 0px 150px;
}

.iconbox .container {
  position: relative;
  margin:5px 100px 0px 200px;
  padding: 5px 20px 0px 20px;
}
.col-md-4 {
  float: left;
  padding: 5px;
}
.row {
  content:"";
  clear: both;
  display: table;
}